* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;

}

.link-header {
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    margin-right: 23px;
    color: #17233d;

}

.button-header {
    border-radius: 1px;
    width: 124px;
     height: 51px;
    background-color: #6FBF44;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}


.logo-img {
    width: 595px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;

   
}

h1 {
    width: 582px;
    height: 164px;
     font-weight: 700;
     font-size: 62px;
     line-height: 82px;
     color: #161A49;
}

p {
     font-weight: 400;
     font-size: 25px;
     line-height: 33px;
     color: #4B505A;
     width: 493px;
     margin-top: 32px;
     margin-bottom: 65px;
}

.button-main {
    width: 112px;
    height: 27px;
    color: #6FBF44;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}

 @media screen and (max-width: 610px){
      header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 10px;
      }
    
      
.link-header {
      display: none;

    }

    .button-header {
        margin: 0;
       width: 100px;
       height: 40px;
       font-size: 14px;
    }  
    
    .logo-img {
        width: 90%;
        height: auto;
        margin: 20px auto;
        display: block;
    }

    section {
        display: block;
        margin: 20px;
        text-align: center;
    }

    h1 {
        font-size: 28px;
        line-height: 36px;
        width: auto;
        height: auto;
    }

    p {
        font-size: 16px;
        line-height: 22px;
        width: auto;
        margin: 20px 0;
    }

    .button-main {
        display: inline-block;
        margin-top: 10px;
        font-size: 16px;
    }
}  




    
 

